html {
  background-color: #181818;
}



/* NAVBAR */
.navbar-container {
  background-color: #181818;
}

.navbar-brand {
  color: white;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: tomato;
}



/* BANNER */
.banner-container {
  border-top: solid 3px darkorange;
  border-bottom: solid 3px darkorange;
  box-shadow: inset 0 0 20px darkorange, 0 0 20px darkorange;
  background-color: #101010;
  height: 70vh;
  width: 100%;
  overflow: hidden;
}

.banner-banner {
  /* border: solid purple; */
  height: 70vh;
  display: flex;
}

.banner-banner img:nth-child(1) {
  margin-left: 7px;
}

.banner-banner img:nth-child(2) {
  position: absolute;
  bottom: 50px;
  left: 0;
}

.banner-banner img:nth-child(3) {
  z-index: 5;
}



/* SOCIAL */
.social-container {
  background-color: #181818;
  color: white;
  display: flex;
  justify-content: flex-end;
  padding-top: 15px;
  padding-bottom: 15px;
}

.social-locations-container {
  display: flex;
  flex-flow: row;
}

.social-locations {
  margin-right: 15px;
}

.social-locations-container h1 {
  font-size: 1.6em;
}

.social-icons {
  display: flex;
}

.social-icons img {
  margin-right: 10px;
  width: 80px;
}


/* WELCOME */
.welcome-container {
  height: 100%;
  width: 100%;
  background-color: #181818;
  color: white;
  display: flex;
}

.welcome-message {
  width: 50vw;
  /* border: solid pink; */
  padding: 30px 130px;
}

.welcome-social {
  width: 50vw;
  /* border: solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome-social img {
  /* border: solid blue; */
  margin-bottom: 30px;
}

.welcome-social iframe {
  /* border: solid teal; */
  height: 700px;
}