html {
  background-color: #181818;
}


/* NAVBAR */
.navbar-container {
  background-color: #181818;
}

.navbar-brand {
  color: white;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: tomato;
}


/* BANNER */
.banner-container {
  border-top: solid 3px red;
  border-bottom: solid 3px red;
  box-shadow: inset 0 0 20px red, 0 0 20px red;
  background-color: #101010;
  height: 70vh;
  width: 100%;
  overflow: hidden;
}

.banner-banner {
  /* border: solid purple; */
  height: 70vh;
  display: flex;
}

.banner-banner img:nth-child(1) {
  margin-left: 7px;
  width: 1000px;
}

.banner-banner img:nth-child(2) {
  position: absolute;
  bottom: 0;
  left: 0;
}

.banner-banner img:nth-child(3) {
  margin-right: 50px;
}

/* .banner-banner img:nth-child(1) {
  width: 70vw;
} */