html {
  background-color: #181818;
}



/* NAVBAR */
.navbar-container {
  background-color: #181818;
  font-family: 'Fontdiner Swanky', cursive;
  font-size: 1.2em;
  ;
}

.navbar-brand {
  color: white;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: tomato;
}



/* BANNER */
.banner-container {
  border-top: solid 3px darkorange;
  border-bottom: solid 3px darkorange;
  box-shadow: inset 0 0 20px darkorange, 0 0 20px darkorange;
  background-color: #101010;
  height: 70vh;
  width: 100%;
  overflow: hidden;
}

.banner-banner {
  /* border: solid purple; */
  height: 70vh;
  display: flex;
}

.banner-banner img:nth-child(1) {
  margin-left: 7px;
}

.banner-banner img:nth-child(2) {
  position: absolute;
  bottom: 50px;
  left: 0;
}

.banner-banner img:nth-child(3) {
  z-index: 5;
}



/* SOCIAL */
.social-container {
  background-color: #181818;
  color: white;
  display: flex;
  justify-content: flex-end;
  padding-top: 15px;
  padding-bottom: 15px;
}

.social-locations-container {
  display: flex;
  flex-flow: row;
}

.social-locations {
  margin-right: 15px;
  font-family: 'Josefin Slab', serif;
}

.social-locations-container h1 {
  font-size: 1.6em;
}

.social-icons {
  display: flex;
}

.social-icons img {
  margin-right: 10px;
  width: 80px;
}


/* WELCOME */
.welcome-container {
  height: 100%;
  width: 100%;
  background-color: #181818;
  color: white;
  display: flex;
}

.welcome-message {
  width: 50vw;
  /* border: solid pink; */
  padding: 30px 130px;
}

.welcome-message h1 {
  font-family: 'Fontdiner Swanky', cursive;
}

.welcome-message p {
  font-family: 'Josefin Slab', serif;
  font-size: 1.1em;
  margin-top: 20px;
  ;
}

.welcome-social {
  width: 50vw;
  /* border: solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome-social img {
  /* border: solid blue; */
  margin-bottom: 80px;
}

.welcome-social iframe {
  /* border: solid teal; */
  height: 700px;
}


/* MENU */
.menu-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  flex-direction: column;
}

.menu-menu1 img {
  height: 100%;
  width: 100vw;
}

.menu-menu2 img {
  height: 100%;
  width: 100vw;
}


/* PROMOTION */
.promotion-container {
  background-color: #181818;
  display: flex;
  flex-direction: column;
}

.promotion-image {
  align-self: center;
}

.promotion-image img {
  /* width: 60vw; */
}

.promotion-blurb {
  font-family: 'Fontdiner Swanky', cursive;
  width: 100%;
  color: white;
  padding: 10px 30px;
}

.promotion-video {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
  color: white;
}

.promotion-video-text {
  font-family: 'Josefin Slab', serif;
  text-align: center;
  margin: 10px;
}

.promotion-video a {
  font-size: 1.5em;
  ;
}


/* FOOTER */
.footer-container {
  margin-bottom: 20px;
}

.footer-container footer {
  background-color: #181818;
  color: white;
  display: flex;
  width: 100%;
}

.footer-legal {
  width: 70%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-legal p {
  margin: 0;
}

.footer-social {
  width: 30%;
}

.footer-social a {
  margin: 0 8px;
}